body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f8fb;
}

.card {
    border-radius: 12px;
    transition: all 0.3s ease;
    border-radius: 1rem;
}

.card-header {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: white !important;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

input.form-control {
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    padding: 10px;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
}
